.education_background {
  padding: 60px 20px;
  background: #1a1d21;
  display: flex;
  justify-content: center;
}

.edu_timeline {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding-left: 30px;
}

/* vertical line */
.edu_timeline::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0;
  width: 2px;
  height: 95%;
  background: #f97316;
  filter: drop-shadow(0 0 6px rgba(255,106,61,0.8));
}

.edu_item {
  position: relative;
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

/* green dot */
.edu_dot {
  width: 14px;
  height: 14px;
  background: #f97316;
  border-radius: 50%;
  position: absolute;
  left: -28px;
  top: 70px;
}

/* card */
.edu_card {
  background: rgba(255, 255, 255, 0.08); /* glass */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 20px;
  padding: 40px 50px;

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 0 0.5px rgba(255, 255, 255, 0.2);

  position: relative;
  overflow: hidden;
}

.edu_year {
  display: inline-block;
  color: #f97316;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.edu_card h3 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #fff;
}

.edu_card p {
  margin: 0;
  font-size: 0.95rem;
  color: #fff;
  line-height: 1.6;
}

/* responsive */
@media (max-width: 600px) {
  .edu_timeline {
    padding-left: 24px;
  }
  

  .edu_item {
    gap: 20px;
  }
  .edu_dot {
  width: 14px;
  height: 14px;
  background: #f97316;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 100px;
}
}
